.nav{
	width: 100%;
	height: auto;
	background: #0F0C2C;
	margin: 0 auto;
	justify-content: space-around;
}

.logo{
	color: white;
	font-family: monospace;
	margin: 15px;
}

#links{
	width: 500px;
	height: 25px;
	display: flex;
	justify-content: space-between;	
	transition: 0.5s;
	margin: 15px;
}

.content{
	display: none;
}

.link{
	text-decoration: none;
	color: white;
	font-family: 'Lato', sans-serif;
}

#links li{
	list-style-type: none;
}

.link:hover{
	color: white;
}

.bi-list{
	color: white;
	display: none;
}

.stuff{
	width: 100%;
	height: 400px;
}

.endbar{
	width: 100%;
	height: auto;
	background: #0F0C2C;
	display: flex;
	justify-content: space-around;
}

.quicklinks, .service, .projects, .touchwithus{
	width: 300px;
	height: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.quicklinks{
	margin-left: 3%;
	margin-right: 1%;
}

.touchwithus{
	margin-right: 3%;
	margin-left: 1%;
}

.projects{
	margin-left: 1%;
}

.headings{
	color: white;
	font-family: monospace;
	margin-bottom: 15px;
}

.endbar p{
	color: lightgrey;
	margin-bottom: 2px;
}

.quicklinks a{
	display: block;
	color: white;
}

.quicklinks a:hover{
	text-decoration: underline;
	color: white;
}

.stuff{
	width: 95%;
	height: auto;
	background: lightblue;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.heading1{
	
}















@media screen and (max-width: 600px){
	.nav{
		width: 100%;
		height: 60px;
		background: #0F0C2C;
		justify-content: space-between;
	}

	.logo{
		color: white;
		font-family: monospace;
		margin-top: 15px;
		font-size: 24px;
		margin-left: 5%;
	}

	.content{
		cursor: pointer;
		display: block;
		height: 22px;
		margin-right: 5%;
		margin-top: 19px;
	}

	.strip1, .strip2, .strip3{
		width: 22px;
		height: 2px;
		background: none;
		margin: 4px 0px;
		margin-right: 0px;
		transition: .5s;
		box-shadow: 0px 0px 3px 2px white;
	}

	.active .strip1{
		transform: rotate(-405deg) translate(-3px, 7px);
	}

	.active .strip2{
		opacity: 0;
	}

	.active .strip3{
		transform: rotate(405deg) translate(-1.4px, -5.5px);
	}

	#links{
		width: 97%;
		height: 170px;
		display: block;
		margin-left: 1.5%;
		margin-top: 66px;
		background: whitesmoke;
		position: fixed;
		overflow: hidden;
		transition: 0.5s;
	}

	.link{
		display: block;
		text-align: right;
		font-family: 'Lato', sans-serif;
		color: black;
		font-weight: bold;
		margin-right: 3%;
		margin-top: 8px;
	}

	.link:active{
		background: white;
	}

	.bi-list{
		display: inline-block;
		font-size: 24px;
		margin-top: 11px;
		float: right;
		margin-right: 5%;
		cursor: pointer;
	}

	.endbar{
		width: 100%;
		height: 870px;
		background: #0F0C2C;
		display: block;
		justify-content: space-evenly;
	}

	.quicklinks, .service, .projects, .touchwithus{
		width: 90%;
		height: auto;
		float: left;
		margin-top: 40px;
		margin-left: 5%;
	}

	.headings{
		color: white;
		font-family: monospace;
		margin-bottom: 5px;
	}
}