body{
	margin: 0;
}

#maindiv{
	width: 1903px;
	height: 2907px;
	margin: 0 auto;
}

#mainpagediv{
	width: 1903px;
	height: 969px;
	background: lightblue;
	background-image: url(img1.jpg);
	background-repeat: no-repeat;
}

#logo{
	color: white;
	font-family: bold;
	top: 15px;
	left: -10px;
	position: relative;
}

#navitem1{
	float: left;
	color: white;
	margin-left: 200px;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
}

#navitem2{
	float: left;
	color: white;
	margin-left: 40px;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
}

#navitem3{
	float: right;
	color: white;
	margin-right: 200px;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
}

#navitem4{
	float: right;
	color: white;
	margin-right: 40px;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
}

#navitem1:hover ,#navitem2:hover ,#navitem3:hover ,#navitem4:hover{
	color: sandybrown;
}

#cafe{
	color: white;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	position: relative;
	top: 190px;
	opacity: 0%;
}

#logo1{
	color: white;
	font-family: bold;
	top: 235px;
	opacity: 0%;
	position: relative;
	font-size: 65px;
}

#para1{
	color: white;
	text-align: center;	
	position: relative;
	top: 335px;
	opacity: 0%;}

#btn1{
	color: white;
	background: none;
	border: 1px solid sandybrown;
	border-radius: 0px;
	padding: 10px 20px 10px 20px;
	position: relative;
	left: 855px;
	top: 400px;
	opacity: 0%;
}

#btn1:hover{
	color: sandybrown;
}

#divx{
	margin-top: 600px;
	width: 1903px;
	height: 20px;
}

#icon1{
	color: white;
	margin-left: 650px;
	font-size: 20px;
	float: left;
}

#icon2{
	color: white;
	margin-left: 20px;
	font-size: 20px;
	float: left;
}

#icon1:hover ,#icon2:hover{
	color: sandybrown;
}

#icon3{
	color: sandybrown;
	margin-left: 250px;
	font-size: 20px;
	float: left;
	margin-top: 0px;
}

#para2{
	color: white;
	margin-left: 0px;
	font-size: 18px;
	letter-spacing: 1px;
	margin-top: -5px;
	float: left	;
}

#div2{
	width: 1903px;
	height: 969px;
	background: whitesmoke;
}

#div2a{
	width: 1903px;
	height: 484.5px;
}

#div2b{
	width: 1903px;
	height: 484.5px;
}

#img4{
	position: relative;
	width: 200px;
	left: 200px;
	top: -40px;
	box-shadow: 5px 5px 30px black;
	border-radius: 10px;
	opacity: 0%;
}

#img3{
	position: relative;
	width: 150px;
	left: 220px;
	top: 130px;
	box-shadow: 5px 5px 30px black;
	border-radius: 10px;
	opacity: 0%;
}

#img2{
	position: relative;
	width: 300px;
	left: -350px;
	top: 210px;
	box-shadow: 5px 5px 30px black;
	border-radius: 10px;
	opacity: 0%;
}

#imgs1{
	width: 700px;
	height: 484.5px;
	margin-left: 275px;
	float: left;
}

#data1{
	width: 700px;
	height: 484.5px;
	margin-left: 975px;
	}

#heading1{
	color: grey;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: calibri;
	position: relative;
	top: 80px;
	opacity: 0%;
}

#para3{
    color: grey;
    text-align: center;
    position: relative;
    top: 190px;
    opacity: 0%;
}

#data2{
	width: 700px;
	height: 484.5px;
	margin-left: 275px;
	float: left;
}

#heading2{
	color: grey;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: calibri;
	position: relative;
	top: 80px;
	opacity: 0%;
}

#para4{
    color: grey;
    text-align: center;
    position: relative;
    top: 190px;
    opacity: 0%;
}

#imgs2{
	width: 700px;
	height: 484.5px;
	margin-right: 228px;
	float: right;
}

#img6{
	position: relative;
	width: 200px;
	left: 300px;
	top: 30px;
	box-shadow: 5px 5px 30px black;
	border-radius: 10px;
	opacity: 0%;
}

#img7{
	position: relative;
	width: 150px;
	left: -70px;
	top: 190px;
	box-shadow: 5px 5px 30px black;
	border-radius: 10px;
	opacity: 0%;
}

#img5{
	position: relative;
	width: 300px;
	left: -180px;
	top: -10px;
	box-shadow: 5px 5px 30px black;
	border-radius: 10px;
	opacity: 0%;
}

#div3{
	width: 1903px;
	height: 969px;
	background: whitesmoke;
}

#heading3{
	font-family: calibri;
	font-weight: bold;
	position: relative;
	top: -60px;
	opacity: 0%;
}

#para5{
	position: relative;
	top: -20px;
	letter-spacing: 1px;
	opacity: 0%;
}

#btndiv{
	position: relative;
	top: 0px;
	left: -80px;
	opacity: 0%;
}

#btnbg{
	width: 70px;
	height: 30px;
	position: relative;
	background: sandybrown;
	top: 80px;
	left: -132px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px sandybrown;
	transition: .5s;
}

#btn2a{
	color: black;
	background: none;
	border: none;
	font-weight: bolder;
	font-size: 18px;
	position: relative;
	top: 50px;
	padding-right: 20px;
}

#btn2b{
	color: black;
	background: none;
	border: none;
	font-weight: bolder;
	font-size: 18px;
	position: relative;
	top: 50px;
	padding-right: 20px;
}

#btn2c{
	color: black;
	background: none;
	border: none;
	font-weight: bolder;
	font-size: 18px;
	position: relative;
	top: 50px;
	padding-right: 20px;
}

#btn2d{
	color: black;
	background: none;
	border: none;
	font-weight: bolder;
	font-size: 18px;
	position: relative;
	top: 50px;
	padding-right: 20px;
}

#menu{
	width: 1000px;
	height: 600px;
	position: relative;
	top: 80px;
	left: 80px;
	opacity: 0%;
}

#drinksmenu{
	width: 1000px;
	height: 600px;
	position: relative;
	left: 0px;
	transition: .5s;
}

#mainsmenu{
	width: 1000px;
	height: 600px;
	position: relative;
	left: 1000px;
	top: -600px;
	transition: .5s;
}

#lunchmenu{
	width: 1000px;
	height: 600px;
	position: relative;
	left: 2000px;
	top: -1200px;
	transition: .5s;
}

#dinnermenu{
	width: 1000px;
	height: 600px;
	position: relative;
	left: 3000px;
	top: -1800px;
	transition: .5s;
}

#menuitem1{
	width: 485px;
	height: 150px;
	float: left;
	border: none;
	border-bottom: 1px solid grey;
}

#menuitem2{
	width: 485px;
	height: 150px;
	float: right;
	border: none;
	border-bottom: 1px solid grey;
}

#pdts1{
	width: 120px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px black;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

#pdts2{
	width: 120px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px black;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}

#itemdes{
	width: 285px;
	height: 130px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

#heading4{
	font-family: calibri;
	text-align: left;
	margin-top: 15px;
}

#para6{
	color: grey;
	font-family: calibri;
	text-align: left;
}

#price1{
	font-family: calibri;
	float: right;
	margin-top: 60px;
}

#itemdes1{
	width: 285px;
	height: 130px;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

#heading5{
	font-family: calibri;
	text-align: right;
	margin-top: 15px;
}

#para7{
	color: grey;
	font-family: calibri;
	text-align: right;
}
#price2{
	font-family: calibri;
	float: left;
	margin-top: 60px;
}

#div4{
	width: 1903px;
	height: 969px;
	background-image: url(bg2.jpg);
}

#feedback{
	width: 1000px;
	height: 450px;
	float: left;
	margin-left: 451.5px;
	margin-top: 160px;
}

#feedbackform{
	color: white;
	font-weight: bold;
	font-size: 35px;
}

#first{
	width: 49.5%;
	float: left;
	margin-top: 20px;
}

#last{
	width: 49.5%;
	float: right;
	margin-top: 20px;
}

#tel{
	width: 49.5%;
	float: left;
	margin-top: 15px;
}

#email{
	width: 49.5%;
	float: right;
	margin-top: 15px;
}

#feedbacktxt{
	margin-top: 15px;
	float: left;
}

#feedbackbox{
	width: 300px;
	height: 100px;
	float: left;
	margin-left: 350px;
	margin-top: 50px;
}

#para8{
	color: white;
	font-size: 20px;
	font-family: calibri;
	font-weight: bold;
}

#btn3{
	background: none;
	border: none;
}

#icon4{
	color: sandybrown;
	font-size: 25px;
	opacity: 30%;
	margin-left: 0px;
}

#icon5{
	color: sandybrown;
	font-size: 25px;
	opacity: 30%;
	margin-left: 5px;
}

#icon6{
	color: sandybrown;
	font-size: 25px;
	opacity: 30%;
	margin-left: 5px;
}

#icon7{
	color: sandybrown;
	font-size: 25px;
	opacity: 30%;
	margin-left: 5px;
}

#icon8{
	color: sandybrown;
	font-size: 25px;
	opacity: 30%;
	margin-left: 5px;
}

#endbar{
	width: 1903px;
	height: 250px;
	background: black;
	float: left;
	margin-top: 108.5px;
}

#endbardiv1{
	width: 400px;
	height: 200px;
	margin-top: 25px;
	float: left;
	margin-left: 331.3px;
}
#endbardiv2{
	width: 400px;
	height: 200px;
	margin-top: 25px;
	float: left;
	margin-left: 20px;
}
#endbardiv3{
	width: 400px;
	height: 200px;
	margin-top: 25px;
	float: left;
	margin-left: 20px;
}

#txt1{
	color: sandybrown;
	text-align: left;
	font-weight: bold;
	margin-top: 25px;
}

#txt2{
	color: white;
	text-align: left;
	letter-spacing: 1px;
	font-size: 15px;
	line-height: 18px;
	margin-top: -10px;
}

#txt3{
	color: white;
	float: left;
	margin-top: -11.5px;
	margin-right: 10PX;
}

#txt4{
	color: white;
	margin-top: -5px;
}

#txt5{
	color: sandybrown;
	text-align: left;
	font-weight: bold;
	margin-top: 25px;
}

.bi-geo-alt-fill{
	color: white;
	float: left;
	margin-top: -9px;
	margin-right: 10px;
}

#txt6{
	color: white;
	text-align: left;
	letter-spacing: 1px;
	font-size: 15px;
	line-height: 18px;
	margin-top: -10px;
}

.bi-telephone-fill{
	color: white;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
}

#txt7{
	color: white;
	text-align: left;
	letter-spacing: 1px;
	font-size: 15px;
	line-height: 18px;
}

.bi-envelope-fill{
	color: white;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
}

#txt8{
	color: sandybrown;
	text-align: left;
	letter-spacing: 1px;
	font-size: 15px;
	line-height: 18px;
	margin-top: -3px;
}

#txt9{
	color: sandybrown;
	text-align: left;
	font-weight: bold;
	margin-top: 25px;
}

#txt10{
	color: white;
	font-size: 13px;
	letter-spacing: 1px;
	margin-top: -10px;
}

#txt11{
	color: white;
	font-size: 13px;
	font-style: italic;
	margin-top: -15px;
}