body{
	margin: 0;
}

#maindiv{
	margin: 0 auto;
	width: 1903px;
	height: 2634px;
	background: white;
}

#nav{
	width: 1903px;
	height: 80px;
	background: lightblue;
}

#logoa{
	text-decoration: none;
}

#logo{
	padding-top: 16px;
	margin-left: 40px;
	color: black;
}

#navitems{
	display: flex;
	width: 600px;
	justify-content: space-between;
	float: left;
	margin-left: 650px;
	margin-top: -42px;
}

#navitems1{
	font-family: monospace;
	font-weight: bold;
	letter-spacing: 2px;	
	padding: 10px 20px;
	border-radius: 20px;
	text-decoration: none;
	color: black;
}

#navitems1:hover{
	background: slategrey;
	color: white;
	transition: .2s;
}

#navitems1:active{
	text-decoration: underline;
}

#icons{
	width: 150px;
	height: 35px;
	float: left;
	margin-left: 470px;
	margin-top: -42px;
}

.bi-cart3{
	font-size: 25px;
	margin-left: 5px;
	border-radius: 15px;
	padding: 2px 6px;
}

.bi-cart3:hover, .bi-heart:hover, .bi-search:hover{
	background: slategrey;
	color: white;
	transition: 0.2s;
}

.bi-heart{
	font-size: 25px;
	border-radius: 15px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 6px;
}

.bi-search{
	font-size: 25px;
	margin-left: 10px;
	border-radius: 15px;
	padding: 2px 0px;
	padding-left: 6px;
	padding-right: 7px;
}

#cart{
	position: relative;
	width: 1903px;
	max-width: 1903px;
	height: 969px;
	margin-top: -64px;
	display: none;
	transition: 1s;
}

#cartitem{
	width: 1700px;
	height: 700px;
	float: left;
	margin-top: 80px;
	margin-left: 101px;
	background: whitesmoke;
	opacity: 1;
	border-radius: 20px;
}

.bi-x-lg{
	float: right;
	color: black;
	font-size: 20px;
	margin-right: 20px;
	margin-top: 13px;
	border-radius: 50%;
	padding: 3px 8px;
}

.bi-x-lg:hover{
	color: red;
}

.bi-x-lg:active{
	background: rgba(0, 0, 0, 0.5);
}

#wish{
	position: relative;
	width: 1903px;
	max-width: 1903px;
	height: 969px;
	margin-top: -64px;
	display: none;
	transition: 1s;
}

#wishitem{
	width: 1700px;
	height: 700px;
	float: left;
	margin-top: 80px;
	margin-left: 101px;
	background: whitesmoke;
	opacity: 1;
	border-radius: 20px;
}

#search{
	position: relative;
	width: 1903px;
	max-width: 1903px;
	height: 969px;
	margin-top: -64px;
	display: none;
	transition: 1s;
}

#searchbar{
	width: 1700px;
	height: 65px;
	float: left;
	margin-top: 80px;
	margin-left: 101px;
	background: whitesmoke;
	opacity: 1;
	border-radius: 20px;
}

#carthd{
	color: black;
	font-family: monospace;	
	font-weight: bold;
	float: left;
	margin-left: 820px;
	margin-top: 15px;
	font-size: 30px;
}

#wishhd{
	color: black;
	font-family: monospace;	
	font-weight: bold;
	float: left;
	margin-left: 784px;
	margin-top: 15px;
	font-size: 30px;
}

#searchhd{
	color: black;
	font-family: monospace;	
	font-weight: bold;
	float: left;
	margin-left: 30px;
	margin-top: 14px;
	font-size: 30px;
}

#srch{
	width: 80%;
	margin-top: 14px;
	float: left;
	margin-left: 50px;
}

#searchresults{
	width: 1700px;
	height: 600px;
	background: whitesmoke;
	float: left;
	margin-left: 101px;
	border-radius: 10px;
	margin-top: 15px;
}

#txt{
	color: black;
	font-family: monospace;
	font-weight: bold;
	float: left;
	margin-left: 30px;
	margin-top: 15px;
}

#slideshow{
	width: 1903px;
	height: 550px;
	background: lightcoral;
	border-radius: 15px;
	margin-top: 20px;
	display: block;
}

#txt1{
	float: left;
	margin-left: 900px;
	margin-top: 250px;	
}

#maincategories{
	width: 1500px;
	height: 350px;
	border-radius: 15px;
	float: left;
	margin-left: 201.5px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

#cats{
	width: 367.5px;
	height: 350px;
	background: lightcoral;
	border-radius: 20px;
}

#txt2{
	float: left;
	margin-left: 105px;
	margin-top: 160px;
}


#products{
	float: left;
	width: 1903px;
	height: 969px;
	margin-top: 20px;
	justify-content: space-between;
	display: block;
}

#popularpdts{
	width: 1800px;
	height: 450px;
	background: grey;
	border-radius: 20px;
	margin-left: 51.5px;
}
#recommendedpdts{
	width: 1800px;
	height: 450px;
	background: grey;
	margin-top: 15px;
	border-radius: 20px;
	margin-left: 51.5px;
}
#recentlypdts{
	width: 1800px;
	height: 450px;
	background: grey;
	margin-top: 15px;
	border-radius: 20px;
	margin-left: 51.5px;
}

#txt3{
	color: white;
	font-family: monospace;
	float: left;
	margin-left: 785px;
	margin-top: 5px;
	font-weight: bold;
}

#txt4{
	color: white;
	font-family: monospace;
	float: left;
	margin-left: 755px;
	margin-top: 5px;
	font-weight: bold;
}

#txt5{
	color: white;
	font-family: monospace;
	float: left;
	margin-left: 725px;
	margin-top: 5px;
	font-weight: bold;
}

#pdtlist{
	width: 1750px;
	height: 390px;
	margin-left: 25px;
	float: left;
	display: flex;
	justify-content: space-between;
}

#pdt1, #pdt2, #pdt3, #pdt4, #pdt5, #pdt6{
	width: 338px;
	height: 390px;
	border-radius: 10px;
	background: lightsalmon;
}

#txt6{
	color: black;
	font-family: monospace;
	font-weight: bold;
	margin-left: 135px;
	margin-top: 180px;
}

#endbar{
	width: 1903px;
	height: 200px;
	float: left;
	margin-top: 425px;
	display: block;
	background: lightblue;
}

#txt7{
	color: black;
	float: left;
	margin-left: 950px;
	margin-top: 85px;
}